.products {
  width: 100%;
  margin-bottom: 140px;
}
.products h2 {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 35px;
}
.products-item {
  width: 100%;
}
.product-top {
  margin-bottom: 18px;
  position: relative;
}
.product-top__tag {
  width: 52px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 22px;
}
.product-top__tag.hot {
  background-color: #ff6f61;
}
.product-top__tag.sale {
  background-color: #1e2832;
}
.product-bottom {
  padding: 0 10px;
}
.products__menu,
.slider-products__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}
.products__menu--container,
.slider-products__menu--container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.products__menu--item,
.slider-products__menu--item {
  color: rgba(0, 0, 0, 0.5);
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.products__menu--item:not(.active):hover,
.slider-products__menu--item:not(.active):hover {
  color: #ff6f61;
  cursor: pointer;
}
.products__menu--item.active,
.slider-products__menu--item.active {
  color: rgba(0, 0, 0, 1);
}
.slider-products__button:hover,
.products-menu__button:hover {
  background-color: #ff6f61;
}
.slider-products__button,
.products-menu__button {
  padding: 5px 15px;
  border-radius: 2px;
  color: white;
  background-color: black;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  gap: 6px;
  align-items: center;
}
.product-items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.product-card {
  width: calc(25% - 18px);
  margin-top: 24px;
}
@media (max-width: 767px) {
  .product-card {
    width: calc(50% - 12px);
  }
}
.product-card img {
  width: 100%;
}
.product__details {
  display: flex;
  justify-content: space-between;
}
.product__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.product__price--normal {
  color: black;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.product__price--old {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 600;
  height: 22px;
  line-height: 22px;
  text-decoration: line-through;
  text-transform: capitalize;
  text-align: right;
}
.product__price--discount {
  color: #ff6f61;
  font-size: 16px;
  font-weight: 600;
  height: 22px;
  line-height: 22px;
  text-transform: capitalize;
  text-align: right;
}
.product__title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.product__type {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  text-transform: capitalize;
}
